/*
 * Copyright (c) 2026 Tenstorrent AI ULC
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	fwtable: fwtable {
		compatible = "tenstorrent,bh-fwtable";
		flash-dev = <&flashcontroller0>;
		status = "okay";
	};
};
