# Copyright (c) 2026 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config PMCI_PLDM_PLATFORM
	bool "Enable PLDM Platform support"
	depends on PLDM
	default y
	help
	  Enable PLDM Platform command handling and PDR repository support.
