# Copyright (c) 2025 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_TT_GRENDEL
	bool

config SOC_FAMILY
	default "tt_grendel" if SOC_FAMILY_TT_GRENDEL

rsource "*/Kconfig.soc"

config SIVAL_SDK
	bool
	default y if SOC_TT_KERAUNOS_SMC
	help
	  Indicates we are building with the SiVal SDK (tarball currently not in tree).
	  For source files using the definitions in the SiVal "sources" tarball, we
	  map SDK definitions to those present in "Sources" so that the code can
	  compile with either header. See tt_grendel_shim.h
