/*
 * Copyright (c) 2026 Tenstorrent AI ULC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* BL0P5 starts 64KB from the end of ram0, 48KB available */
&ram0 {
	reg = <0x0 0xc0150000 0x0 0xc000>;
};

/* Not used by BUN2/BL0P5; disables the remoteproc driver and the I3C bus it depends on */
&remoteproc {
	status = "disabled";
};

&i3c1 {
	status = "disabled";
};

&{/soc} {
	smc_inbound_filter: axi-filter@c0015000 {
		compatible = "tenstorrent,grendel-axi-filter";
		reg = <0x0 0xc0015000 0x0 0x200>;
		entry-stride = <0x20>;
	};

	smc_outbound_filter: axi-filter@c0016000 {
		compatible = "tenstorrent,grendel-axi-filter";
		reg = <0x0 0xc0016000 0x0 0x100>;
		entry-stride = <0x20>;
	};

	sep_safe_off: scratch-reg@c0010168 {
		/* SCRATCH[13], SEP-safe SRAM offset in [13:0] */
		compatible = "tenstorrent,scratch-reg";
		reg = <0x0 0xc0010168 0x0 0x4>;
	};

	sep_safe_size: scratch-reg@c0010170 {
		/* SCRATCH[14], SEP-safe SRAM size */
		compatible = "tenstorrent,scratch-reg";
		reg = <0x0 0xc0010170 0x0 0x4>;
	};

	host_boot_state: scratch-reg@c0010160 {
		/* SCRATCH[12] */
		compatible = "tenstorrent,scratch-reg";
		reg = <0x0 0xc0010160 0x0 0x4>;
		status = "okay";
	};

	bundle_validation: scratch-reg@c0010150 {
		/* SCRATCH[10] */
		compatible = "tenstorrent,scratch-reg";
		reg = <0x0 0xc0010150 0x0 0x4>;
		status = "okay";
	};
};
