# Copyright (c) 2024 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config TT_BOOT_FS
	bool "Tenstorrent boot filesystem library"
	help
	  Library for interacting with the boot filesystem.

config TT_BOOT_FS_IMAGE_COUNT_MAX
	int "Maximum number of file descriptors"
	default 32
	depends on TT_BOOT_FS
