# Copyright (c) 2024 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config RESET_TT_BH
	bool "Tenstorrent Blackhole reset controller"
	default y
	depends on DT_HAS_TENSTORRENT_BH_RESET_ENABLED
	help
	  This option enables the Tenstorrent Blackhole reset controller.

config RESET_TT_BH_EMUL
	bool "Tenstorrent Blackhole reset controller emulation"
	default y
	depends on EMUL
	depends on DT_HAS_TENSTORRENT_BH_RESET_EMUL_ENABLED
	help
	  Software emul of the Blackhole reset controller for native_sim.
